<div class="new-short-url">
  <p>long URL:</p>
  <div class="url"><%= "#{@url_association.long_url}" %></div>
  <p>short URL:</p>
  <div class="url"><%= "#{root_url}#{@url_association.short_url}" %></div>
  <a href='/'>Shorten Another URL</a>
</div>